$colors: (
  dark: rgb(29, 44, 103)
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};

$desktop: 840px;

@mixin mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
};

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 17px 25px;
  height: 41px;
  background-color: color(dark);
  color: white;
  font-size: xx-large;
}

.schedule {

  // --------
  // ALL VIEW
  // --------

  // ------------
  // DESKTOP VIEW
  // ------------

  // -----------
  // MOBILE VIEW
  // -----------

  // .day-table:not(.today),
  // .table-elem-top.column:not(.today) {
  //   @include mobile {
  //     display: none;
  //   }
  // }
}

.employeeList {
  display: grid;
  grid-template-columns: 0.2fr 0.7fr 0.2fr 2.9fr 0.1fr;
  grid-template-rows: 0.2fr 2.4fr 0.4fr;
  grid-template-areas:
    ". . . . ."
    ". employee-list-container . employee-edit-container ."
    ". employee-add-button . employee-remove-button .";

  .employee-list-container {
    grid-area: employee-list-container;
    background-color: grey;
  }

  .employee-list-title {
    text-align-last: center;
  }

  .employee-names {
    color: orange;
  }


  .employee-name-entry {
    padding-bottom: 25px;
  }

  .employee-edit-container {
    grid-area: employee-edit-container;
    background-color: red;
  }

  .employee-add-button {
    grid-area: employee-add-button;
    background-color: yellow;
  }

  .employee-remove-button {
    grid-area: employee-remove-button;
    background-color:aqua;
  }

}

.employeeAdd {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .employeeAdd-container {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
}