.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 17px 25px;
  height: 41px;
  width: 100vw;
  background-color: #1d2c67;
  color: white;
  font-size: xx-large;
  position: fixed;
  z-index: 2;
}

.header .header-name-large,
.header .header-dropdown-name {
  font-size: medium;
}

.header .header-dropdown {
  position: fixed;
  z-index: 5;
  width: 170px;
  left: calc(100vw - 210px);
  top: 20px;
}

@media (max-width: 730px) {
  .header .header-dropdown {
    left: calc(100vw - 200px);
  }
}

.header .header-dropdown .header-dropdown-name {
  padding: 11px 0;
  margin-bottom: 15px;
  text-align: end;
}

.header .header-dropdown #header-dropdown-list {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cecece;
  display: none;
}

.header .header-dropdown #header-dropdown-list .header-dropdown-button {
  padding: 3px 10px;
  border-top: 1px solid #cecece;
}

.header .header-dropdown #header-dropdown-list .header-dropdown-button button {
  background: none;
  border: none;
  border-radius: 0px;
  font-size: medium;
  margin-bottom: 12px;
  color: black;
  text-align: start;
  padding: 1px 6px;
}

.header-buffer {
  height: 75px;
}

.modal-outer {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.modal-outer .modal-inner {
  background-color: white;
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc((100vh - 500px)/2);
  border: 1px solid #cecece;
  border-radius: 10px;
}

.schedule {
  min-width: 280px;
}

.schedule .update-shift-modal-content .modal-header {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #1d2c67;
  color: white;
}

.schedule .update-shift-modal-content .modal-info {
  padding: 25px 35px;
  font-size: larger;
}

.schedule .update-shift-modal-content .modal-info .modal-employee-name {
  font-size: xxx-large;
  color: #3a3a89;
  font-weight: 900;
  margin-top: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 16px;
}

.schedule .update-shift-modal-content .modal-info select {
  padding: 5px 10px;
  margin: 15px 15px;
  font-size: large;
}

.schedule .update-shift-modal-content .modal-info .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.schedule .update-shift-modal-content .modal-info .btn input, .schedule .update-shift-modal-content .modal-info .btn button {
  padding: 12px 27px;
  font-size: larger;
  background-color: #1d2c67;
  color: white;
  border: none;
  border-radius: 5px;
}

.schedule .update-shift-modal-content .modal-info .btn input:hover {
  background-color: #5271ed;
}

.schedule .table-header {
  position: fixed;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid #cecece;
}

@media (max-width: 730px) {
  .schedule .table-header {
    position: initial;
  }
}

.schedule .table-header .month {
  font-size: x-large;
  text-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  padding: 20px 10px;
  min-width: 95px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 10px;
}

.schedule .table-header .month .click-left {
  -ms-grid-column-align: end;
      justify-self: end;
}

.schedule .table-header .month .click-right {
  -ms-grid-column-align: start;
      justify-self: start;
}

.schedule .table-header .column-names {
  border-left: 1px solid #cecece;
}

.schedule .table-header .column-names .table-elem, .schedule .table-header .column-names .table-elem-top, .schedule .table-header .column-names .table-elem-empty {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.schedule .table-header .column-names .table-elem-top {
  padding: 10px 0;
  width: 53px;
}

.schedule .table-header .column-names .table-elem-top .col-day {
  margin-top: 5px;
}

.schedule .table-header .column-names .table-elem-top .col-date {
  font-size: x-large;
  padding-top: 11px;
  margin-top: 5px;
  height: 37px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
}

.schedule .table-header .column-names .table-elem-top .highlight-today {
  border: #1d2c67 solid 2px;
}

.schedule .table-header .column-names .highlight-today {
  color: #1d2c67;
}

.schedule .table-header .column-names .past-today {
  opacity: 40%;
}

.schedule .employee-row {
  border-top: solid 1px #cecece;
}

.schedule .employee-row .emp-block {
  height: 100%;
  padding: 0;
  background-color: #f4f4f4;
  width: 100%;
  background-color: #c9daeb;
  border-bottom: #9eaab6 1px solid;
  border-right: #9eaab6 1px solid;
}

.schedule .employee-row .emp-block .employee-name {
  text-align: left;
  padding-left: 25px;
  padding-top: 25px;
  min-width: 90px;
}

.schedule .employee-row .employee-schedule .day-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding: 10px;
  border-left: solid 1px #cecece;
  height: 49px;
}

.schedule .employee-row .employee-schedule .day-table .shift {
  min-width: 50px;
  padding: 15px 0;
  text-align: center;
}

.schedule .employee-row .employee-schedule .day-table .past {
  opacity: 30%;
}

.schedule .employee-row .employee-schedule .day-table .no-shift:hover {
  background-color: #d6e4f4 !important;
  color: black !important;
  cursor: pointer;
}

.schedule .publish {
  height: 100px;
}

.schedule .publish .button {
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.schedule .publish button {
  padding: 12px 27px;
  font-size: larger;
  background-color: #1d2c67;
  color: white;
  border: none;
  border-radius: 5px;
}

.schedule .publish button:hover {
  background-color: #5271ed;
}

@media (max-width: 1250px) {
  .schedule .employee-row .emp-block .employee-name {
    padding-top: 35px;
  }
  .schedule .employee-row .employee-schedule .day-table {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 10px;
    height: 70px;
  }
  .schedule .employee-row .employee-schedule .day-table .shift {
    padding: 5px 0;
  }
}

@media (max-width: 730px) {
  .schedule .table-header .month {
    border-bottom: 1px solid #cecece;
  }
  .schedule .table-header .column-names {
    border-left: none;
  }
  .schedule .employee-row .emp-block .employee-name {
    padding: 5px 10px;
    border-bottom: solid 1px #cecece;
  }
  .schedule .employee-row .employee-schedule .day-table {
    border-left: none;
  }
}

.employeeList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 0.2fr 2.9fr 0.1fr;
      grid-template-columns: 0.7fr 0.2fr 2.9fr 0.1fr;
  -ms-grid-rows: 84% 16%;
      grid-template-rows: 84% 16%;
      grid-template-areas: "employee-list-container . employee-edit-container ." "employee-list-container . employee-buttons .";
  background-color: #FFF;
}

.employeeList .employee-list-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: employee-list-container;
  background-color: #c9daeb;
  padding: 20px;
  height: 95%;
  overflow: hidden;
  height: 900px;
  overflow-y: scroll;
}

.employeeList .employee-list-title {
  text-align-last: center;
  text-align: center;
  font-size: large;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.employeeList .employee-names {
  font-size: medium;
  letter-spacing: 1px;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  padding-bottom: 25px;
}

.employeeList .employee-name-entry {
  padding-bottom: 25px;
}

.employeeList .employee-edit-container {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: employee-edit-container;
  padding: 20px;
  height: 95%;
}

.employeeList .employee-edit-name-input {
  text-align: center;
  font-size: xxx-large;
  letter-spacing: 8px;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-bottom: 0.5px solid;
  background: none;
  width: 100%;
}

.employeeList .employee-edit-credentials {
  display: -ms-grid;
  display: grid;
  font-size: large;
  padding-left: 15px;
  text-transform: uppercase;
  color: #000;
  -ms-grid-columns: 0.5fr 1.5fr;
      grid-template-columns: 0.5fr 1.5fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "employee-edit-title-password employee-edit-password-input" "employee-edit-title-phone employee-edit-phone-input" "employee-edit-title-birthday employee-edit-birthday-input" "employee-edit-title-startDate employee-edit-startDate-input" "employee-edit-title-roles employee-edit-roles-input";
}

.employeeList .employee-edit-credentials .credential {
  padding-bottom: 10px;
  padding-top: 30px;
}

.employeeList .employee-edit-credentials .entry {
  padding-left: 15px;
  padding-bottom: 10px;
  height: 100%;
  color: #000;
  font-size: large;
}

.employeeList .employee-edit-credentials .entry input {
  width: 100%;
  height: 100%;
}

.employeeList .employee-edit-credentials .employee-edit-title-password {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: employee-edit-title-password;
}

.employeeList .employee-edit-credentials .employee-edit-title-phone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: employee-edit-title-phone;
}

.employeeList .employee-edit-credentials .employee-edit-title-birthday {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: employee-edit-title-birthday;
}

.employeeList .employee-edit-credentials .employee-edit-title-startDate {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: employee-edit-title-startDate;
}

.employeeList .employee-edit-credentials .employee-edit-title-roles {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: employee-edit-title-roles;
}

.employeeList .employee-edit-credentials .employee-edit-password-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: employee-edit-password-input;
  -webkit-text-security: disc;
  padding-top: 30px;
}

.employeeList .employee-edit-credentials .employee-edit-phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: employee-edit-phone-input;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.employeeList .employee-edit-credentials .employee-edit-birthday-input {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: employee-edit-birthday-input;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.employeeList .employee-edit-credentials .employee-edit-startDate-input {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: employee-edit-startDate-input;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.employeeList .employee-edit-credentials .employee-edit-roles-input {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: employee-edit-roles-input;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
  padding-top: 25px;
}

.employeeList .employee-buttons {
  grid-area: employee-buttons;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: employee-buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.employeeList .employee-add-button {
  grid-area: employee-add-button;
  -ms-grid-column-align: start;
      justify-self: start;
}

.employeeList .employee-remove-button {
  grid-area: employee-remove-button;
  -ms-grid-column-align: end;
      justify-self: end;
}

.employeeList .submit-changes-button {
  padding-top: 20%;
  text-align: end;
}

.employee-edit-container {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: employee-edit-container;
  padding: 20px;
  height: 95%;
}

.employee-add-name-input {
  text-align: center;
  font-size: x-large;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
  border: none;
  background: none;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
}

.employee-add-credentials {
  display: -ms-grid;
  display: grid;
  font-size: medium;
  padding-left: 15px;
  text-transform: uppercase;
  color: #000;
  -ms-grid-columns: 0.5fr 1.5fr;
      grid-template-columns: 0.5fr 1.5fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "employee-add-title-password employee-add-password-input" "employee-add-title-phone employee-add-phone-input" "employee-add-title-birthday employee-add-birthday-input" "employee-add-title-startDate employee-add-startDate-input" "employee-add-title-roles employee-add-roles-input";
}

.employee-add-credentials .credential {
  padding-bottom: 10px;
  padding-top: 30px;
}

.employee-add-credentials .entry {
  padding-left: 15px;
  padding-bottom: 10px;
  height: 100%;
  color: #000;
  font-size: medium;
  width: 100%;
}

.employee-add-credentials .entry input {
  width: 50%;
  height: 50%;
}

.employee-add-credentials .employee-add-title-password {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: employee-add-title-password;
}

.employee-add-credentials .employee-add-title-phone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: employee-add-title-phone;
}

.employee-add-credentials .employee-add-title-birthday {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: employee-add-title-birthday;
}

.employee-add-credentials .employee-add-title-startDate {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: employee-add-title-startDate;
}

.employee-add-credentials .employee-add-title-roles {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: employee-add-title-roles;
}

.employee-add-credentials .employee-add-password-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: employee-add-password-input;
  -webkit-text-security: disc;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.employee-add-credentials .employee-add-phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: employee-add-phone-input;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.employee-add-credentials .employee-add-birthday-input {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: employee-add-birthday-input;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.employee-add-credentials .employee-add-startDate-input {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: employee-add-startDate-input;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.employee-add-credentials .employee-add-roles-input {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: employee-add-roles-input;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.footer {
  grid-area: employee-buttons;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: employee-buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.employee-add-button {
  grid-area: employee-add-button;
  -ms-grid-column-align: end;
      justify-self: end;
}

.employee-remove-button {
  grid-area: employee-remove-button;
  -ms-grid-column-align: start;
      justify-self: start;
}
/*# sourceMappingURL=main.css.map */