body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 17px 25px;
  height: 41px;
  background-color:rgb(29, 44, 103);
  color: white;
  font-size: xx-large;

}

.view-container {
  display: flex;
  flex-direction: row;
}

.cal-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cal-title {
  display: flex;
  width: fit-content;
}

.cal-contents-cont {
  display: block;
}

/* .activity-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "a a a a a a a b"
  "c c c c c c c b";
} */

.activity-log-container {
  display: flex;
  width: 20%;
  margin-left: 50px;
  text-align: center;
}

#daysOfWeek {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.column-container {
  display: flex;
  flex-direction: row;
}

.column {
  width: fit-content;
  margin-right: 10px;  /* delete this later */
}

.day {
  font-size: 0.8rem;
  width: fit-content;
}

.date {
  font-size: 1.2rem;
  width: fit-content;
}

/** ACTIVITY LOG **/

#activityLogContainer {
  height: calc(100vh - 75px);
  background-color: rgb(201 218 235);
}

.activityLog {
  grid-area: b;
  padding-right: 25px;
  height: calc(100vh - 165px);
  min-height: 25vh;
  overflow-y: scroll;
  padding-top: 10px;
}

.activityListItem {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.activityLog::-webkit-scrollbar {
  display: none;
}

/** END OF ACTIVITY LOG **/

.shift-block {
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
}
.shift-block:hover {
  cursor: pointer;
}
.shift-block-cont {
  background-color: lightgray;
}

.emp-info-modal-bg {
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}

.emp-info-modal {
  position: fixed;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f5f5f5;
	padding: 50px;
	z-index: 1000;
}

/* Login Page CSS*/
.loginHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: lighter;
}

.loginForm{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}

.formLabelsInputs{
  margin-top: 10px;
}
.loginButton{
	text-transform: uppercase;
	text-decoration: none;
	background: rgb(29, 44, 103);
	padding: 20px;
	border-radius: 5px;
	border: none;
  transition: all 0.4s ease 0s;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.loginButton:hover {
	background: black;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.buttonText{
  color:white;
}
.longInputs{
  padding:2px;
  border-radius:5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(29, 44, 103);
  width: 250px;
}
.labelText{
  font-weight: lighter;
}
.entireLogIn{
  margin-top: 250px;
}
