body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 17px 25px;
  height: 41px;
  background-color:rgb(29, 44, 103);
  color: white;
  font-size: xx-large;
}

.view-container {
  display: flex;
  flex-direction: row;
}

.cal-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.cal-contents-cont {
  display: block;
}

.activity-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "a a a a a a a b"
  "c c c c c c c b";
}

.activity-log-container {
  display: flex;
  width: 30%;
  margin-left: 50px;
}

#calendar-dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px repeat(auto-fit);
}

#activtyLog {
  grid-area: b;
}

#activityLogContainer {
  display: grid;
  grid-template-rows: 0.2fr 0.5fr;
  margin-top: 5px;
  justify-items: center;
}

#activityLog {
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  padding-right: 25px;
  height: 75vh;
  min-height: 25vh;
  overflow-y: scroll;
}

#activityListItem {
  list-style: none;
}

#timeOffTableEntries::-webkit-scrollbar,
  #activityLog::-webkit-scrollbar {
  display: none;
}

#adminNotifs {
  display: grid;
  grid-template-rows: 0.2fr 0.5fr;
  margin-top: 5px;
  justify-items: center;
}


#timeOffTableEntries
  thead {
    font-size: 1.2em;
 }

#timeOffTableEntries {
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  padding-right: 25px;
  height: 75vh;
  min-height: 25vh;
  overflow-y: scroll;
}

